.logo {
  height: 50px;
  width: 50px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.svelte:hover {
  filter: drop-shadow(0 0 2em #ff3e00aa);
}
.read-the-docs {
  color: #888;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 60px;
  margin-bottom: 1rem;
}

.links {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
    font-size: 16px;
    color: #333333;
    text-decoration: none;
    &:hover {
      color: #666666;
    }
  }
