:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  &.c-warn {
    background-color: #7a2b2b !important;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.dahsboard {
  display: flex;
}

/* Global styles */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
}

/* Page styles */

h1 {
  font-size: 2rem;
  margin: 2rem 0;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Component styles */

.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 1rem 2rem;
}

.top-menu h2 {
  margin: 0;
  font-size: 1.5rem;
}

.sensors {
  flex: 1;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.devices {
  flex: 1;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.scenario {
  flex: 2;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .scenario {
    order: 2;
  }

  .sensors {
    order: 1;
  }

  .devices {
    order: 3;
  }
}

.logo {
  height: 50px;
  width: 50px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.svelte:hover {
  filter: drop-shadow(0 0 2em #ff3e00aa);
}
.read-the-docs {
  color: #888;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 60px;
  margin-bottom: 1rem;
}

.links {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  font-size: 16px;
  color: #333333;
  text-decoration: none;
  &:hover {
    color: #666666;
  }
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.modal-label {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;

  & span{
    text-align: initial;
    min-width: 8rem;
  }
}

// .w-100{
//   width:100%;
// }

@function generateWidthClasses() {
  $widthClasses: ();

  @for $i from 1 through 20 {
    $className: unquote('.w-#{$i * 5}');
    $width: $i * 5%;

    $widthClasses: map-merge($widthClasses, ($className: (width: $width)));
  }

  @return $widthClasses;
}

$widthClasses: generateWidthClasses();

@each $className, $styles in $widthClasses {
  #{$className} {
    @each $property, $value in $styles {
      #{$property}: $value;
    }
  }
}

.modal-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: initial;
}

.m-l-1 {
  margin-left: 1rem;
}
